{% extends 'home/base.html' %}
{% load static %}

{% block title%}
    <title>AssignGuru - Your Academic Success</title>
{% endblock title%}

{% block home %}
    <!-- ============================
        Slider
    ============================== -->
    <section class="slider">
      <div class="slick-carousel carousel-arrows-light carousel-dots-light m-slides-0"
        data-slick='{"slidesToShow": 1, "arrows": true, "dots": true, "speed": 700,"fade": true,"cssEase": "linear"}'>
        <div class="slide-item align-v-h bg-overlay">
          <div class="bg-img"><img src={% static "assets/images/sliders/3.jpg" %} alt="slide img"></div>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                <div class="slide-item__content">
                  <h2 class="slide-item__title">One Stop for ALL your academic Help</h2>
                  <p class="slide-item__desc">By Experienced professionals.</p>
                  <a href="{% url 'contact' %}" class="btn btn__primary btn__hi">Get Started</a>
                </div><!-- /.slide-content -->
              </div><!-- /.col-xl-7 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
        <div class="slide-item align-v-h bg-overlay">
          <div class="bg-img"><img src={% static "assets/images/sliders/4.jpg"%} alt="slide img"></div>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                <div class="slide-item__content">
                  <h2 class="slide-item__title">Our guarantees<br> To Deliver Exceptional Results.</h2>
                  <p class="slide-item__desc">By Experienced professionals.</p>
                  <a href="{% url 'contact' %}" class="btn btn__primary btn__primary-style2 btn__hi">Get Started</a>
                </div><!-- /.slide-content -->
              </div><!-- /.col-xl-7 -->
              </div><!-- /.col-xl-5 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
      </div><!-- /.carousel -->
    </section><!-- /.slider -->

    <!-- ======================
    Features Layout 3
    ========================= -->
    <section class="features-layout3 pt-0 pb-90 bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="row features-wrapper">
              <!-- Feature item #1 -->
              <div class="col-sm-4 feature-item">
                <h4 class="feature-item__title">Assignments</h4>
                <p class="feature-item__desc">We can help you with your assignments and project</p>
                <a href="{% url 'contact' %}"><i class="icon-arrow-right icon-outlined"></i></a>
              </div><!-- /.feature-item -->
              <!-- Feature item #2 -->
              <div class="col-sm-4 feature-item">
                <h4 class="feature-item__title">Exams</h4>
                <p class="feature-item__desc">We can take your test, quiz, mid term and finals for you.</p>
                <a href="{% url 'contact' %}"><i class="icon-arrow-right icon-outlined"></i></a>
              </div><!-- /.feature-item -->
              <!-- Feature item #3 -->
              <div class="col-sm-4 feature-item">
                <h4 class="feature-item__title">Full Course</h4>
                <p class="feature-item__desc">Schedule us in advance for garunteed availablity throughout the course duration.</p>
                <a href="{% url 'contact' %}"><i class="icon-arrow-right icon-outlined"></i></a>
              </div><!-- /.feature-item -->
            </div><!-- /.row -->
          </div><!-- /.col-lg-8 -->
          <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="feature-item feature-item-custom bg-primary">
              <div class="bg-img"><img src={% static "assets/images/backgrounds/14.png" %} alt="backgrounds"></div>
              <h4 class="feature-item__title">We go above and beyond to help you acheive the desired academic results.</h4>
              <a href="{% url 'contact' %}" class="btn btn__white btn__link">
                <span>Contact Us</span><i class="icon-arrow-right icon-outlined"></i>
              </a>
            </div>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Features Layout 3 -->

    <!-- ========================
      About Layout 6
    =========================== -->
    <section class="about-layout6 bg-gray pt-0 pb-0">
      <div class="container">
        <div class="row heading-layout2 mb-70">
          <div class="col-12">
            <h2 class="heading__subtitle color-body">Nationwide Service, Local Expertise</h2>
          </div><!-- /.col-lg-12 -->
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
            <h3 class="heading__title mb-30">You ask us, “Do my homework online,” we offer assignment help with guarantees!</h3>
            <p class="service-item__desc">AssignGuru's team provides a global online platform for custom assignment writing. Our website is especially popular among students with “do my assignment online” and “write my assignment for me” requests who are ready to pay in order to get the online homework help they need. With us, you’ve found a website that you can entrust your “Please, help with my assignment” requests to. And we’ll do our best to compose your assignments at the highest possible level..</p>
            <p class="service-item__desc">AssignGuru guarantees properly formatted, well-researched, and plagiarism-free custom assignment papers delivered to clients within the agreed-upon timeframe. Free revisions are also included in the package when you use our services.</p>
            <br/><br/><br/>
            
            <a href="about-us.html" class="btn btn__primary btn__icon btn__xl">
                <span>More About Us</span><i class="icon-arrow-right"></i>
            </a>
          </div><!-- /.col-xl-5 -->
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5 about__Text">
            <p class="service-item__desc">AssignGuru's team provides a global online platform for custom assignment writing. Our website is especially popular among students with “do my assignment online” and “write my assignment for me” requests who are ready to pay in order to get the online homework help they need. With us, you’ve found a website that you can entrust your “Please, help with my assignment” requests to. And we’ll do our best to compose your assignments at the highest possible level..</p>
            <p class="service-item__desc">Our company is customer-friendly and open to communication. Thus, we provide free updates through email, phone contact, and direct messaging. Additionally, on our website we are available for online communication 24/7 via Livechat, phone, and email. Our customer support team is able to assist you whenever you need it.</p>
            <p class="service-item__desc">Furthermore, you can view our standard price list before submitting your order. Keep in mind that the price of your assignments depends on the type of paper needed as well as on your discipline, academic level, the number of pages, and the deadline.</p>
          </div><!-- /.col-xl-5 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
      <div class="image-wrapper bg-white">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-sm-12 col-md-12 col-lg-7">
              <div class="about__img">

              </div><!-- /.about-img -->
            </div><!-- /.col-lg-5 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.image-wrapper -->
    </section><!-- /.About Layout 6 -->

    <!-- ========================
        Services Layout 2
    =========================== -->
    <section class="services-layout2 services-masonry bg-no-repeat bg-size-auto bg-top-right pt-130 pb-90">
      <div class="bg-img"><img src={% static "assets/images/backgrounds/6.png" %} alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="heading heading-layout2 text-center mb-50">
              <h2 class="heading__subtitle">AssignGuru's primary mission is to provide academic writing guidance for money to all students worldwide, in compliance with our standards.</h2>
              <h3 class="heading__title">Write my assignment: The guarantees clients get from us</h3>
            </div><!-- /.heading -->
          </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
        <div class="row services-wrapper">
          <!-- service item #1 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service-item__content">
                <div class="service-item__icon">
                  <i class="icon-server"></i>
                </div><!-- /.service-item__icon -->
                <h4 class="service-item__title">Growth</h4>
                <p class="service-item__desc">We are incredibly interested in your cultivation as new specialists in your chosen spheres, which is why we offer you high-quality writing services. We want our customers to face no difficulties in dealing with academic writing, just like the real specialists in their fields, and for that reason, we encourage you to grow under the supervision of real professionals.</p>
              </div><!-- /.service-content -->
              <div class="service-item__overlay bg-overlay bg-overlay-primary">
                <div class="bg-img"><img src={% static "assets/images/services/1.jpg" %} alt="background"></div>
              </div><!-- /.service-item__overlay -->
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
          <!-- service item #2 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service-item__content">
                <div class="service-item__icon">
                  <i class="icon-cloud"></i>
                </div><!-- /.service-item__icon -->
                <h4 class="service-item__title">Diversity</h4>
                <p class="service-item__desc">Our writing team is quite diverse, as we hire specialists from all around the world. This helps us to find the future author of your essay as quickly as possible. While you’re sleeping in Singapore, a writer from New York will be working on your order. Additionally, their different academic backgrounds allow us to provide help in various disciplines - from humanities to math, science, and engineering.</p>
              </div><!-- /.service-content -->
              <div class="service-item__overlay bg-overlay bg-overlay-primary">
                <div class="bg-img"><img src={% static "assets/images/services/2.jpg" %} alt="background"></div>
              </div><!-- /.service-item__overlay -->
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
          <!-- service item #3 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service-item__content">
                <div class="service-item__icon">
                  <i class="icon-hosting"></i>
                </div><!-- /.service-item__icon -->
                <h4 class="service-item__title">Excellence</h4>
                <p class="service-item__desc">All our specialists are highly competent in what they do: writing essays, conducting thorough research, and/or doing complex calculations. We are deeply convinced that all our customers deserve to become paragons of excellence in both their studies and, further down the line, in their professional lives, and eagerly help them to do just that.</p>
              </div><!-- /.service-content -->
              <div class="service-item__overlay bg-overlay bg-overlay-primary">
                <div class="bg-img"><img src={% static "assets/images/services/3.jpg" %} alt="background"></div>
              </div><!-- /.service-item__overlay -->
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
          <!-- service item #4 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service-item__content">
                <div class="service-item__icon">
                  <i class="icon-technician"></i>
                </div><!-- /.service-item__icon -->
                <h4 class="service-item__title">Authenticity</h4>
                <p class="service-item__desc">We present ourselves as a custom writing company. This means that our papers are always crafted from scratch and according to your specific requirements. Moreover, we use plagiarism software to ensure the 100% originality of every paper we submit. Become more original with the help of our qualified specialists.</p>
              </div><!-- /.service-content -->
              <div class="service-item__overlay bg-overlay bg-overlay-primary">
                <div class="bg-img"><img src={% static "assets/images/services/4.jpg" %} alt="background"></div>
              </div><!-- /.service-item__overlay -->
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
          <!-- service item #5 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service-item__content">
                <div class="service-item__icon">
                  <i class="icon-programming"></i>
                </div><!-- /.service-item__icon -->
                <h4 class="service-item__title">Reliability</h4>
                <p class="service-item__desc">We do everything we can to ensure our customers get their assignments written on time and done in the appropriate way. The great number of returning customers proves the fact that our writing company is worth your attention as well. It is best to only rely on verified services like ours.</p>
              </div><!-- /.service-content -->
              <div class="service-item__overlay bg-overlay bg-overlay-primary">
                <div class="bg-img"><img src={% static "assets/images/services/5.jpg" %} alt="background"></div>
              </div><!-- /.service-item__overlay -->
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
          <!-- service item #6 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service-item__content">
                <div class="service-item__icon">
                  <i class="icon-file"></i>
                </div><!-- /.service-item__icon -->
                <h4 class="service-item__title">Expertise</h4>
                <p class="service-item__desc">We have qualified professionals who excel in their career to help you out with your Exams.</p>
              </div><!-- /.service-content -->
              <div class="service-item__overlay bg-overlay bg-overlay-primary">
                <div class="bg-img"><img src={% static "assets/images/services/6.jpg" %} alt="background"></div>
              </div><!-- /.service-item__overlay -->
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <div class="row align-items-center">
          <div class="col-sm-12 col-md-12 col-lg-5">
            <p class="fz-16 my-4">Each of our team members holds these values and meets these same standards of excellence. To work at our custom assignment writing platform, academic writers, experts in narrow disciplines, and support team members must pass special entry tests and periodically pass check-ups to maintain their positions.</p>
          </div><!-- /.col-lg-5 -->
          <div class="col-sm-12 col-md-12 col-lg-7 d-flex align-items-center justify-content-end">
            <a href="{% url 'contact' %}" class="btn btn__secondary btn__hi mr-30">Find a Guru</a>
            <a href="{% url 'services' %}" class="btn btn__primary btn__link">
              <span>Explore All Services</span><i class="icon-arrow-right icon-outlined"></i>
            </a>
          </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Services Layout 2 -->

    <!-- ======================
    Features Layout 1
    ========================= -->
    <section id="features" class="features-layout1 pt-130 pb-220">
      <div class="bg-img"><img src={% static "assets/images/backgrounds/10.jpg" %} alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <div class="heading heading-layout2 mb-40">
              <h2 class="heading__subtitle color-body">Ensure High Availability of Your Services</h2>
              <h3 class="heading__title color-white">Freebies you receive with every order</h3>
            </div>
            <a href="{% url 'contact' %}" class="btn btn__white btn__bordered btn__xl btn__icon minwidth-170">
              <span>Get Started</span>
              <i class="icon-arrow-right"></i>
            </a>
          </div><!-- /.col-xl-6 -->
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <div class="row features-wrapper mt-40">
              <!-- Feature item #1 -->
              <div class="col-sm-6 feature-item">
                <div class="feature-item__icon">
                  <i class="icon-statistic"></i>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <h4 class="feature-item__title mb-0">Consistent communication with your writer</h4>
                </div>
              </div><!-- /.feature-item -->
              <!-- Feature item #2 -->
              <div class="col-sm-6 feature-item">
                <div class="feature-item__icon">
                  <i class="icon-management"></i>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <h4 class="feature-item__title mb-0">Formatting in any academic style</h4>
                </div>
              </div><!-- /.feature-item -->
              <!-- Feature item #3 -->
              <div class="col-sm-6 feature-item">
                <div class="feature-item__icon">
                  <i class="icon-software"></i>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <h4 class="feature-item__title mb-0">Bibliography section with reliable sources</h4>
                </div>
              </div><!-- /.feature-item -->
              <!-- Feature item #4 -->
              <div class="col-sm-6 feature-item">
                <div class="feature-item__icon">
                  <i class="icon-relational"></i>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <h4 class="feature-item__title mb-0">24/7 WOW-support team</h4>
                </div>
              </div><!-- /.feature-item -->
            </div><!-- /.row -->
            <div class="row mt-50 contact-text">
              <div class="col-sm-9 px-0">
                <strong class="color-white">If you have any questions or need help, feel free to contact with our team, or call
                  <a href="tel:+923324394878">(+92) 3324394878</a></strong>
              </div><!-- /.col-sm-9 -->
              <div class="col-sm-3 px-0 d-flex justify-content-end">
                <a href="{% url 'contact' %}" class="btn btn__primary btn__primary-style2 minwidth-120">Contact Us</a>
              </div><!-- /.col-sm-3 -->
            </div><!-- /.row -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Features Layout 1 -->

    <div class="bg-no-repeat bg-top">
      <div class="bg-img"><img src={% static "assets/images/backgrounds/1.jpg" %} alt="backgrounds"></div>
      <!-- =========================
        Contact layout 2
      =========================== -->
      <section id="contact" class="contact-layout2 pt-0">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="contact-panel d-flex flex-wrap mt--170">
                <div
                  class="contact-panel__banner bg-overlay bg-overlay-primary d-flex flex-column justify-content-between">
                  <div class="bg-img"><img src={% static "assets/images/banners/6.jpg" %} alt="background"></div>
                  <div class="heading heading-layout2 heading-light">
                    <h3 class="heading__title mb-30">Perfect Solutions For Your Academics!</h3>
                    <p class="heading__desc mb-30">We have been helping students for more than 5 years now.</p>
                    <ul class="list-items list-items-light list-unstyled mb-40">
                      <li>Provided by subjec expert</li>
                      <li>All academic work completed with car</li>
                      <li>Helped more than 2,500 students</li>
                    </ul>
                  </div><!-- /.heading -->
                  <div class="d-flex flex-wrap">
                    <a href="{% url 'process' %}" class="btn btn__secondary btn__secondary-style2 mr-30">
                      Our Process</a>
                    <a href="{% url 'services' %}" class="btn btn__white btn__bordered btn__icon">
                      <span>Our Services</span><i class="icon-arrow-right"></i>
                    </a>
                  </div>
                </div><!-- /.contact-panel__banner -->
                
                
                <form class="contact-panel__form" method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="form-group">
                        <label for="contact-name">Name</label>
                        <input type="text" class="form-control" placeholder="Name" id="contact-name" name="contact-name" required>
                      </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="form-group">
                        <label for="contact-email">Email</label>
                        <input type="email" class="form-control" placeholder="Email" id="contact-email" name="contact-email" required>
                      </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="form-group">
                        <label for="contact-Phone">Subject</label>
                        <select class="form-control" id="contact-subject" name="contact-subject">
                          <option value="Accounting">Accounting</option>
                          <option value="Finance">Finance</option>
                          <option value="Operations">Operations</option>
                          <option value="Economics">Economics</option>
                          <option value="Statistics">Statistics</option>
                          <option value="Marketing">Marketing</option>
                          <option value="Business Studies">Business Studies</option>
                          <option value="Computer/IT">Computer/IT</option>
                          <option value="Mathematics">Mathematics</option>
                          <option value="Other(s)">Other(s)</option>
                        </select>
                      </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="form-group">
                        <label for="contact-Phone">Phone</label>
                        <input type="text" class="form-control" placeholder="Phone" id="contact-Phone" name="contact-phone" required>
                      </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <div class="form-group">
                        <label for="contact-message">Additional Details</label>
                        <textarea class="form-control" placeholder="Describe your inquirey!" id="contact-message" name="contact-message" required></textarea>
                      </div>
                      <div class="custom-control custom-checkbox d-flex align-items-center mb-20">
                        <input type="checkbox" class="custom-control-input" id="terms">
                        <label class="custom-control-label" for="terms">I accept the privacy and terms.</label>
                      </div>
                      <button type="submit" class="btn btn__secondary btn__xl btn__block">Submit Request </button>

                    </div><!-- /.col-lg-12 -->

                  </div><!-- /.row -->
                </form><!-- /.contact-panel__form -->


              </div><!-- /.contact-panel -->
            </div><!-- /.col-lg-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.Contact layout 2 -->


{% endblock home %}

