{% extends 'home/base.html' %}
{% load static %}
{% block process %}

    <!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout7 text-center bg-overlay bg-parallax">
      <div class="bg-img"><img src={% static "assets/images/page-titles/122.jpg" %} alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="pagetitle__heading">How We works</h1>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->


    <!-- ======================
     Work Process 
    ========================= -->
    <section class="work-process history-timeline pb-0 mt--130">
      <div class="history-timeline-bg">
        <div class="bg-img"><img src={% static "assets/images/backgrounds/7.jpg" %} alt="background"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-6">
            <div class=" heading heading-layout2 mb-100">
              <h3 class="heading__title color-white">Find out more about how we work: starting from the recruiting process and up to the point where we analyze our customers’ feedback.</h3>
            </div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-11">
            <!-- process Item #1 -->
            <div class="process-item d-flex flex-wrap">
              <h3 class="process-item__number">01</h3>
              <div class="process-item__content d-flex flex-wrap">
                <h4 class="process-item__title">We hire the best experts</h4>
                <p class="process-item__desc">Only one out of five applicants becomes a part of our team. To work with us, 
                writers have to pass several online tests on English and on disciplines they are going to cover..</p>
              </div>
            </div><!-- /.process-item -->
            <!-- process Item #2 -->
            <div class="process-item d-flex flex-wrap">
              <h3 class="process-item__number">02</h3>
              <div class="process-item__content d-flex flex-wrap">
                <h4 class="process-item__title">We educate our writers</h4>
                <p class="process-item__desc">Every newcomer goes through a three-month mentorship program. During this period, they receive training on various types of formatting and kinds of academic writing.</p>
              </div>
            </div><!-- /.process-item -->
            <!-- process Item #3 -->
            <div class="process-item d-flex flex-wrap">
              <h3 class="process-item__number">03</h3>
              <div class="process-item__content d-flex flex-wrap">
                <h4 class="process-item__title">We write every paper from scratch</h4>
                <p class="process-item__desc">We don’t use pre-written essays and compose every assignment according to our clients’ instructions. Remember that the more details you provide, the more personalized your paper will be.</p>
              </div>
            </div><!-- /.process-item -->
            <!-- process Item #4 -->
            <div class="process-item d-flex flex-wrap">
              <h3 class="process-item__number">04</h3>
              <div class="process-item__content d-flex flex-wrap">
                <h4 class="process-item__title">We double-check every paper before the delivery</h4>
                <p class="process-item__desc">Before you receive your assignment, our managers check it with our in-house plagiarism-detection software. Thus, we can guarantee you 100% original writing.</p>
              </div>
            </div><!-- /.process-item -->
            <!-- process Item #4 -->
            <div class="process-item d-flex flex-wrap">
              <h3 class="process-item__number">05</h3>
              <div class="process-item__content d-flex flex-wrap">
                <h4 class="process-item__title">We keep in touch 24/7</h4>
                <p class="process-item__desc">Our support team will help you with any questions and inquiries via phone, email, or Livechat whenever you need them.</p>
              </div>
            </div><!-- /.process-item -->
            <!-- process Item #4 -->
            <div class="process-item d-flex flex-wrap">
              <h3 class="process-item__number">06</h3>
              <div class="process-item__content d-flex flex-wrap">
                <h4 class="process-item__title">We offer free revisions</h4>
                <p class="process-item__desc">Apply for free editing if you notice any discrepancies between your instructions and the paper you receive. Let your writer edit your task to perfection.</p>
              </div>
            </div><!-- /.process-item -->
            <!-- process Item #4 -->
            <div class="process-item d-flex flex-wrap">
              <h3 class="process-item__number">07</h3>
              <div class="process-item__content d-flex flex-wrap">
                <h4 class="process-item__title">We’re ready to recognize our faults</h4>
                <p class="process-item__desc">Our transparent refund policy is our ultimate satisfaction guarantee. Get your money back if anything goes wrong with your order.</p>
              </div>
            </div><!-- /.process-item -->
            <!-- process Item #4 -->
            <div class="process-item d-flex flex-wrap">
              <h3 class="process-item__number">08</h3>
              <div class="process-item__content d-flex flex-wrap">
                <h4 class="process-item__title">We always strive to become better</h4>
                <p class="process-item__desc">We analyze your feedback to improve our service and become the best assignment help provider on the academic writing market.</p>
              </div>
            </div><!-- /.process-item -->
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="download-area">
              <p class="download-area__text">This applies to all type of services Assignment, Test, Exam, Mid term, Quiz and Projects.</p>
              <a href="{% url 'contact' %}" class="btn btn__white btn__bordered btn__xl btn__icon mb-30">
                <span>Contact Us</span>
                <i class="icon-arrow-right"></i>
              </a>
            </div>
          </div><!-- /.col-lg-5 -->
          <div class="col-sm-12 col-md-12 col-lg-7">
            <div class="cta-banner bg-overlay bg-overlay-primary">
              <div class="bg-img"><img src="assets/images/banners/4.jpg" alt="background"></div>
              <h4 class="cta-banner__title">Now you know everything</h4>
              <p class="cta-banner__desc">Now that you know everything, will you still be able to refuse our help?</p>
              <div class="d-flex flex-wrap">
                <a href="{% url 'contact' %}" class="btn btn__secondary btn__secondary-style2 btn__xl mr-20">Contact Us</a>
              </div>
            </div><!-- /.cta-banner -->
          </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Work Process -->

{% endblock process %}

