{% extends 'home/base.html' %}
{% load static %}
{% block services %}



    <!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout7 text-center bg-overlay bg-parallax">
      <div class="bg-img"><img src={% static "assets/images/page-titles/122.jpg" %} alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="pagetitle__heading">Our Competencies</h1>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->


    <!-- =========================
       Banner layout 2
      =========================== -->
    <section class="banner-layout2 pt-0 pb-100">
      <div class="bg-img"><img src={% static "assets/images/backgrounds/8.jpg" %} alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
            <div class="banner-text">
              <div class="heading-layout2 heading-light mb-40">
                <h3 class="heading__title mb-30">How we measure our quality</h3>
              </div><!-- /.heading -->
            </div>
          </div><!-- /.col-xl-6 -->
        
        </div><!-- /.row -->
        <div class="row counters-wrapper counters-light mt-70">
          <!-- counter item #1 -->
          <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="counter-item">
              <h4 class="counter">100</h4><h3>%</h3>
              <p class="counter-item__desc">authentic writing with zero plagiarism</p>
            </div><!-- /.counter-item -->
          </div><!-- /.col-lg-3 -->
          <!-- counter item #2 -->
          <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="counter-item">
              <h4 class="counter">2,512</h4><h3>+</h3>
              <p class="counter-item__desc">project completed on time</p>
            </div><!-- /.counter-item -->
          </div><!-- /.col-lg-3 -->
          <!-- counter item #3 -->
          <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="counter-item">
              <h4 class="counter">100</h4><h3>%</h3>
              <p class="counter-item__desc">confidentiality and a money-back guarantee</p>
            </div><!-- /.counter-item -->
          </div><!-- /.col-lg-3 -->
          <!-- counter item #4 -->
          <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="counter-item">
              <h4 class="counter">9</h4><h3>/10</h3>
              <p class="counter-item__desc">is our average service rating</p>
            </div><!-- /.counter-item -->
          </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Banner layout 2 -->




    <!-- =========================== 
      portfolio layout 3 
    ============================= -->
    <section class="portfolio-layout3">
      <div class="container">
        
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <ul class="portfolio-filter d-flex flex-wrap justify-content-center list-unstyled">
              <li><a class="filter active" href="#" data-filter="all">All</a></li>
              <li><a class="filter" href="#" data-filter=".filter-business">Business Studies</a></li>
              <li><a class="filter" href="#" data-filter=".filter-math">Math</a></li>
              <li><a class="filter" href="#" data-filter=".filter-Security">Security</a></li>
              <li><a class="filter" href="#" data-filter=".filter-Software">Software</a></li>
              <li><a class="filter" href="#" data-filter=".filter-Management">Management</a></li>
              <li><a class="filter" href="#" data-filter=".filter-Cloud">Cloud</a></li>
            </ul><!-- /.portfolio-filter  -->
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        
        <div id="filtered-items-wrap" class="row">
          
          <!-- portfolio item #1 -->
          <div class="col-sm-6 col-md-6 col-lg-4 mix filter-business">
            <div class="portfolio-item">
              <div class="portfolio-item__content">
                <ul class="list-items list-items-layout2 list-horizontal list-unstyled d-flex flex-wrap mt-40 mb-0">
                  <li>Accounting</li>
                </ul>
              </div><!-- /.portfolio-content -->
            </div><!-- /.portfolio-item -->
          </div><!-- /.col-lg-4 -->

          <!-- portfolio item #2 -->
          <div class="col-sm-6 col-md-6 col-lg-4 mix filter-math">
            <div class="portfolio-item">
              <div class="portfolio-item__content">
                <ul class="list-items list-items-layout2 list-horizontal list-unstyled d-flex flex-wrap mt-40 mb-0">
                  <li>Calculus</li>
                </ul>
              </div><!-- /.portfolio-content -->
            </div><!-- /.portfolio-item -->
          </div><!-- /.col-lg-4 -->
          
          <!-- portfolio item #3 -->
          <div class="col-sm-6 col-md-6 col-lg-4 mix filter-business">
            <div class="portfolio-item">
              <div class="portfolio-item__content">
                <ul class="list-items list-items-layout2 list-horizontal list-unstyled d-flex flex-wrap mt-40 mb-0">
                  <li>Finance</li>
                </ul>
              </div><!-- /.portfolio-content -->
            </div><!-- /.portfolio-item -->
          </div><!-- /.col-lg-4 -->

          <!-- portfolio item #4 -->
          <div class="col-sm-6 col-md-6 col-lg-4 mix filter-business">
            <div class="portfolio-item">
              <div class="portfolio-item__content">
                <ul class="list-items list-items-layout2 list-horizontal list-unstyled d-flex flex-wrap mt-40 mb-0">
                  <li>Financial Rreporting</li>
                </ul>
              </div><!-- /.portfolio-content -->
            </div><!-- /.portfolio-item -->
          </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.portfolio layout 3  -->


{% endblock services %}