{% extends 'home/base.html' %}
{% load static %}

{% block title%}
  <title>AssignGuru - Pick A Set</title>
{% endblock title%}


{% block mcqs %}


    
    <!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout7 text-center bg-overlay bg-parallax">
      <div class="bg-img"><img src={% static "assets/images/page-titles/7.jpg" %} alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="pagetitle__heading">MCQ Sets</h1>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->

    <!-- ========================= 
         Reviews
    =========================  -->
    <section class="careers">
      <div class="container">
       
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            {% for a in entry %}
            <div class="job-item">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <h4 class="job-item__title"><a href="{{ a.subjectName_id }}/{{ a.id }}">{{ a.name }}</a></h4>
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->
            </div><!-- /.job-item --> 
            {% endfor %}
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->


      <div style="display: inline-block;">
        {% if entry.has_previous %}  
          <a href="?page={{entry.previous_page_number}}" style="style=color: black;float: left;padding: 8px 50px;text-decoration: none;">Previous</a>
        {% endif %}

        {% if entry.has_next %}
          <a href="?page={{entry.next_page_number}}" style="style=color: black;float: left;padding: 8px 50px;text-decoration: none;">Next</a>
        {% endif %}
      </div>

      </div><!-- /.container -->
   </section><!-- /.careers -->


    
{% endblock mcqs %}